/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*
WEBSITE Personalities - Choose one
Serious/Elegant = thin serif typefaces, golden or pastel colors, big high quality images
Minimalist/Simple = small to medium sans-serif, black text lines and few images/icons
Plain/Neutral = neutral small typefaces, very structured layout. Big corporations.
Bold/Confident = Big and bold typography paired with big/bright colored blocks.
Calm/Peaceful = care. Calming pastel colors. soft serif headings matching images/illustrations.
Startup/Upbeat = startup, featured medium sized sans-serif typefaces. light-grey text/backgrounds.
Playful/Fun = colorful/rounds designs. Hand-drawn/creative elements, animations, and fun language.
*/

/* RULE #1 Typography - Choose one or two, not more
https://fonts.google.com/
https://type-scale.com/
  ------------------------------
  Use only good/popular typefaces. Limit # of typefaces to 2
  Sans-serif:  inter, open sans, roboto, montserrat, work sans lato 
  Sans: merriweather, aleo, playfair display, cormorant, cardo, lora 
  ------------------------------
  Choose font-size, limit choices, use type-scale
  normal text: 16px to 32px
  long text: 20px or bigger such as a long blog post
  headlines: big like 50px+ and bold 600+. Depends on personality
  any text: no font weight under 400 (regular)
  ------------------------------
  Use less than 75 characters per line
  normal sized text, use line height between 1.5 and 2
  big text go below 1.5 line height
  decrease letter spacing in headlines if it looks unnatural
  Experiment with all caps for short titles. Small and bold increases letter spacing
  Don't center long text blocks. Small blocks are fine
  */

/* RULE #2 Colors 
  https://yeun.github.io/open-color/
  https://coolors.co/ -- More > Contrast Checker
  Choose a color that matches your websites personality - See above
  Red - symbolizes power, passion, excitement
  orange - less aggressive, happiness, cheerfulness, creativity
  yellow - joy, brightness,  intelligence
  green - represents harmony, nature, health
  blue - peace, trustworthiness, professionalism
  purple - wealth, wisdom, magic
  pink - romance, care, affection
  brown - nature, durability, comfort
  black - power, elegance, minimalism, grief, sorrow
  -------------------------------
  Choose a good color tone - Open color, tailwind CSS, flat UI Colors
  -------------------------------
  Choose a Main color and a Grey color (text is usually grey color)
  Choose a secondary color for an accent color if you want. Needs to be a relationship with the main color
  For diversity, create lighter and darker versions of your chosen colors - palleton.com, coolors
  -------------------------------
  Main color - draw attention to the main element of a page such as a button and/or logo
  Use colors to add accents or make components and sections stand out
  Use colors strategically in images and illustrations
  For dark backgrounds, try to use a tint of teh background (lighter version) for text
  Text should not be completely black - Use a shade of grey instead
  Don't make your text too light
  */

/* RULE #3 Images and Illustrations
  https://unsplash.com/
  https://squoosh.app/
  Product Photos - illustrate the product
  Storytelling photos - helps to convey the message of your website (most important)
  Illustrations - abstract way of doing storytelling
  Patterns - background of an entire sections or behind images to add a visual image detail. Adds creativity
  Prefer original images you take yourself or by a professional photographer if budget allows
  Try to show real people to trigger emotions
  If necessary, crop your images to fit your message
  Combine photos, illustrations, and patterns
  -----------------------------
  Darken or brighten the image where the text is
  Position text into a neutral area
  Put text in box, perhaps putting opacity on the box
  -----------------------------
  For high res screens, make image dimensions 2x as big as their display size
  Compress images for a lower filer size and better performance
  */

/* RULE #4 Icons
  Use icons only from one icon pack. Don't mix
  https://heroicons.com/
  Use a good icon pack: phosphor icons, ionicons, icons8
  You can use emojis as well
  Use only one item pack
  Use only SVG icons or icon fonts (do not use .jpg or.png for icons as they do not scale)
  Adjust to website personality (roundness, weight, filled, outlined depend on typography)
  Use icons to provide visual assistance
  Use icons to build feature blocks - describe features of a service for example
  Use icons associated with actions, and label them
  Use icons as bullet points
  -------------------------------
  Keep icons neutral. Use same color as text. To draw more attention, use a different color
  Use icons that make sense and fit the text ot action you want to convey
  Don't make icons larger than what they were designed for
  */

/* RULE #5 Shadows
  Shadows create depth and adds a 3d element to our design
  Use shadows only if it makes sense for the website personality
  The more playful a design gets, the more shadows you can use
  Less shadows for more serious adn elegant the design
  Go light on shadows and don't go too dark
  Use shadows on elements you want to draw attention to such as button
  Use medium sized shadows for larger areas that should stand out more like an entire section or cards
  Use large shadows for elements you want to float above the interface like navigation or pop ups
  Change shadows on mouse interaction like click or hover
   */

/* RULE #6 Border Radius 
  Increase the playfulness and fun of the design
  typeface can determine how much border-radius and certain typography is more round than others
  buttons use border radius the most
  images and icons are also common to have border-radius
   */

/* RULE #7 White Space
   Makes the design clean, modern, and polished
   Use whitespace between sections and between groups of elements
   usually need more white space vertically than horizontally between elements
   Inside groups of elements, try to use whitespace instead of lines
   Use the law of proximity - groups of elements belong together, the closer they should be
   start with a lot of whitespace, then remove whitespace until it looks right
   match other design choices - huge text should equal more whitespace
   Try using a hard rule such as multiples of 16px for all margins and paddings on a page
    2, 4, 8, 12, 16, 32, 48, 64, 80, 96, 128
   */

/* RULE #8 Visual Hierarchy 
   Which element of a design are the the most ones
   Define a path for users to guide them through the page
   Position important elements closer to the top of the page where they get more attention
   First call-to-action also as close as possible to the top of the page
   white space creates separation so use whitespace strategically to emphasize elements
   Text - use font size, font weight, color, and whitespace to convey importance
   Emphasize titles, sub-titles, links, buttons, data points, icons
   De-emphasize less important text, labels, secondary/additional information
   Components to stand out: testimonials, call-to-action sections, highlight sections, preview cards,
      forms, pricing tables, important rows/columns in tables
   */

/* RULE #9 User Experience (UX)
   Don't design complicated layouts. Use patterns that users know
   Make you call-to-action the most prominent element, and make the text descriptive
   Use blue text and underline text only for links
   Animations should have a purpose and be fast. Between 200ms and 500ms
   Forms - align labels and fields in a single vertical line gto make the form easier to scan
   Offer users good feedback for all actions: form errors, form success, etc
   Law of locality - place buttons where they will create an effect. Does not apply to call-to-action
   Write a descriptive headline, keyword-focused on your main page
   Only include relevant information. Everything presented should have a very clear purpose
   Use simple words and avoid technical jargon
   Break up long text with sub-headings, images, block quotes, bullet points, etc
   */

/* The Website Personality Framework 
   Choose how you want the website to appear to users
   Choose one of the website personalities accordingly
   Apply personality traits to each of the design ingredients
   01 - Serious/Elegant - thin serif typefaces, golden or pastel colors, big high quality images
      usually no shadows and no border radius and no icons
   02 - Minimalist/Simple - use for portfolios. boxy, sans-serif typefaces, black or dk grey color, just
      one main color, few images, small black icons
   03 - Plain/Neutral - sans-serif, nothing too bright, blues and black, images are frequently used. simple
      icons may be used, usually no shadows or border radius
   04 - Bold/Confident - boxy/squared typefaces, big and bold. bright colors and big color sections. lots of
      big images. usually not used are icons, shadows, or border-radius
   05 - Calm/Peaceful - soft serif typefaces, light orange or yellows, browns, greens, blues. images have a lot of people and match color palette. Icons are frequent. Shadows used sparingly, some border-radius us usual 
   06 - Startup/Upbeat - usually sans-serif typography, green, blue, purple for primary, light grey for 
     background, common to use gradient. Images are always used and 3d illustrations. subtle shadows
     border-radius is common and icons are also frequent
   07 - Playful/Fun - round creative typography and sans-serif. Multiple colors. Images are 3d and 
     illustrations. icons, shadows, and border-radius are frequent
    ---------------------------------------
  COMBINING DESIGNS
  Can mix two by using one main personality with a secondary personality

  THE MISSING PIECE
  Design Ingredients
  Website Personalities
  Design Guidelines and Rules
  Getting Inspired and Steal Like an Artist
  https://land-book.com/
  https://onepagelove.com/
  https://www.awwwards.com/
  https://screenlane.com/
  Take good parts of one or many good designs and adapt them to your need while using the guidelines we 
  learned above
   */

/* 
  MAIN COLOR: #087f5b
  LIGHT COLOR: #099268
  GREY COLOR: #343a40
  LIGHT GREY: #495057
  */

/* RULE #10 - Building a Web Page
  Build your elements - headers, paragraphs, etc you use to present the information you want
    Elements - text, buttons, images, input elements, tags
  Build your components by combining elements
    Components - Breadcrumbs, pagination, alert/status bars, statistics, gallery, feature box
    Preview/portfolio cards, accordion, tabs, carousel, customer testimonials, logos, 
    featured-in logos, steps, forms, tables, pricing tables, modal windows, etc
    Section components - navigation, hero section, footer, call-to-action section, feature row
  Combine components into a common layout pattern
    Layout patterns - Row of boxes/cards, grid of boxes/cards, Z-pattern, F-pattern, Single column,
    Sidebar, Multi-column magazine, Asymmetry/Experimental
  Assemble a final page from your layout
  */

/* 
  SEVEN STEPS to building a website
  1. Define
    Who the website is for
    What the website is for. The main goal and purpose
    What is the target audience. Be specific (Can come from the client)
  2. Plan
    Gathering the content: copy(text), images, videos, etc
    Content usually provided by client. Can them produce and find free images. Charge if not easy
    Plan out the site map for big sites. Pages site needs and such
    Based on content, plan what sections the site needs
    Define the website personality
  3. Sketch
    Think about what components and layout patterns you need. Content should guide the design
    Get ideas and sketch with pen and paper or by using software such as Figma
    This is an iterative process. Experiment with different ideas, components, and layouts
    Don't need to sketch everything and don't make it perfect. Maybe half then jump into coding
  4. Design and Build
    Use decisions, content, and sketches to design using HTML and CSS
    Design the actual visual styles you decided on and website personality or personalities
    Use clients branding if it exists (colors, typography, icons, etc)
  5. Test and Optimize
    Make sure website works in all major browsers (Chrome, Safari, Edge, Firefox)
    Test on actual mobile devices - not just dev tools
    Optimize all images in dimensions and file size
    Fix accessability problems (color contrast issues
    Run the Lighthouse performance test in Chrome Dev Tool and try to fix reported issues
    Think about Search Engine Optimization (SEO)
  6. Launch
    Share it with the world
    Netlify has a free plan but there are others
    Choose and buy a great domain name, one that represents the brand well, memorable, easy to write
  7. Maintain and Update
    Keep the website content updated over time. Create a monthly maintenance contract with your client
    Install analytics software such Google Analytics or Fathom
    A blog is updated regularly is a good way to keep users coming back, and is also good for SEO
  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  border-bottom: 8px solid #087f5b;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 96px;
}

h2 {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

.btn:link,
.btn:visited {
  background-color: #087f5b;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  padding: 16px 32px;
  display: inline-block;
  border-radius: 100px;
}

.btn:hover,
.btn:active {
  background-color: #099268;
}

.btn--big {
  font-size: 18px;
  padding: 16px 32px;
}

.btn--small {
  font-size: 14px;
  padding: 8px 12px;
}

img {
  border-radius: 12px; /* Set border radius to round out the corners */
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* HEADER */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 64px;
}

.header-text-box {
  align-self: center;
}

h1 {
  margin-bottom: 32px;
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1px;
  /* text-shadow: 0 5px 3px rgba(0, 0, 0, 0.2); Create shadow for text */
}

.header-text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}

img {
  width: 100%;
}

/* FEATURES */
.features-icon {
  stroke: #087f5b; /* change color of SVG icon. Use fill on solid SVG icons */
  width: 32px;
  height: 32px;
  margin-bottom: 24px;
}

.features-title {
  margin-bottom: 16px;
  font-size: 20px;
}

.features-text {
  font-size: 18px;
  line-height: 1.7;
}

/* TESTIMONIAL */
.testimonial-section {
  background-color: #087f5b;
  color: #fff;
  padding: 24px;
  border-radius: 12px;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h2 {
  margin-bottom: 24px;
  font-size: 24px;
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
  color: #e6fcf5;
}

.testimonial-author {
  color: #c3fae8;
}

/* CHAIRS */

.chair {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07); /* Add shadows - left/right, bottom, blur,  */
  border-radius: 12px;
}

.chair img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.chair-box {
  padding: 32px;
}

h3 {
  margin-bottom: 24px;
  font-size: 20px;
}

.chair-details {
  list-style: none;
  margin-bottom: 48px;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chair-icon {
  stroke: #087f5b;
  width: 24px;
  height: 24px;
}

.chair-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

footer {
  margin-bottom: 48px;
  font-size: 14px;
  color: #495057;
}
