/* Selector {
    Property: Value;
} 

color = text color
text-align = places text
border = size style color
background-image: adds image as background
background-size: changes size of image
list-style change style of list elements
*/

body {
  background-image: url(ships.jpg);
  background-size: cover;
}

h2 {
  color: red;
  text-align: center;
  border: 5px dashed #ffb8aa;
}

p {
  color: #aa4139;
}

li {
  list-style: none;
  display: inline-block;
}
