/* Fall Colors
#1B1A17
#F0A500
#E45826
#E6D5B8

Winter Colors
#06283D
#256D85
#47B5FF
#DFF6FF

Summer Colors
#FEF9A7
#FAC213
#F77E21
#D61C4E

Spring Colors
#96CEB4
#FFEEAD
#D9534F
#FFAD60

Default Colors
#66bfbf
#11999e
#e4f9f5
#06283D
#40514e

 */

:root {
  --mainColor: ##e6d5b8;
  --secondaryColor: #f0a500;
  --borderColor: #e45826;
  --mainText: #1b1a17;
}

body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  margin-top: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.header-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.profile-pic {
  height: 200px;
  width: 150px;
  border-radius: 50%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skills-container {
  margin: 75px 0;
}

.web {
  color: #06283d;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.computer-img {
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.chilis-img {
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
