/* 
CSS Styles 

Margin & Padding

padding = adds space between content and the border
padding-left = adds space between content and the border
padding-right = adds space between content and the border
margin = adds space outside of border between elements
margin-bottom = adds space outside of border between elements
shorthand
padding = top/bottom left/right

*/

/* Global reset set before starting any new project */
* {
  margin: 0;
  padding: 0;
}

body {
  color: #444;
  font-family: sans-serif;

  border-top: 10px solid #1098ad;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/* Descendant Selectors select all p elements inside footer element */
footer p {
  font-size: 16px;
}

/* ID Selector */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

/* Class Selector */

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

/* 
Psuedo Classes 
This one selects the first li child of it's parent (ul)
THe second one selects the last child of it's parent (ul)
*/
li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* Specify which child you want. Can use odd or even in place of number */
li:nth-child(2) {
  color: red;
}

/* Styling links using the :link, :visited, :hover, and :active pseudo classes. These states are always specified in this order */

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}
